body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.videoindex {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    -webkit-filter: grayscale(100%);
}

.headerindex {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.ulindex {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

.liindex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    color: #FFF;
    border: 1px solid white;
}

.mainindex {
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 800px 1fr;
    grid-template-areas:
        ". . ."
        ". picture ."
        ". . .";
}

.logoindex {
    grid-area: picture;
}

main>picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100%;
}

.footerindex{
    display: flex;
    justify-content: center;
}    

@media (max-width: 990px) {
    .mainindex {
        grid-template-columns: auto;
        width: 100%;
    }
}

@media (max-width: 480px) {

    .headerindex {
        display: flex;
        justify-content: center;
    }

    .navindex {
        width: 100%;
    }

    .ulindex {
        gap: 0%;
    }

    .mainindex {
        grid-auto-columns: auto;
    }

    .footerindex {
        width: 100%;
    }
}