* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    background-image: url(../img/background/fondobarra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

header {
    display: flex;
    background-color: rgb(219, 219, 219);
    justify-content: space-between;
}

.container-button{
    display: none;
}

.ulnosotros {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-right: 20px;
}

nav {
    display: flex;
}

main {
    display: grid;
    grid-template-areas: 
    ". titulo ."
    "div1 div1 div1"
    "div2 div2 div2"
    "div3 div3 div3"
    "div4 div4 div4"
    ;
}

.titulo {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo > img {
    width: 100%;
    max-width: 400px;
}

.div1 {
    grid-area: div1;
    background-color: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin-top: 5px;
}

.div1 > img {
    justify-items: left;
}

.div2 {
    grid-area: div2;
    background-color: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 40px;
    margin-top: 35px;
}

.div3 {
    grid-area: div3;
    background-color: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin-top: 35px;
}

.div4 {
    grid-area: div4;
    background-color: rgba(0, 0, 0, 0.50);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 40px;
    margin-top: 35px;
}

footer {
    display: flex;
    background-color: rgb(219, 219, 219);
    justify-content: center;
    margin-top: 3px;
    width: 100%;
}
