body {
    margin: 0;
    padding: 0; 
}

video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    -webkit-filter: grayscale(100%);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    color: #FFF;
    border: 1px solid white;
}

main {
    display: grid;
    width: 100%;
    max-width: 900px;
    grid-template-columns: repeat(3, 455px);
    grid-template-rows: repeat(3, 170px);
    grid-template-areas: 
    ". . ."
    ". picture ."
    ". . .";
}   

.logoindex {
    grid-area: picture;
}

main > picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100%;
}

footer {
    display: flex;
    justify-content: center;
}

@media (max-width: 480px) {
    
}

@media (max-width: 990px){
    body {
        background-color: violet;
    }
}
