body {
    margin: 0;
    padding: 0; 
}

video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    -webkit-filter: grayscale(100%);
}

main {
    width: 40%;
    background: rgb(0, 0, 0, 0.5);
    color: #FFF;
    padding: 20px;
    margin: 5%;
}