body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif; 
    color: white;
}

video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    -webkit-filter: grayscale(100%);
}

header{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    color: #FFF;
    border: 1px solid white;
}

main {
    display: grid;
    width: 100%;
    max-width: 634px;
    grid-template-columns: repeat(3, 634px);
    grid-template-rows: repeat(3, 270px);
    grid-template-areas: 
    ". . ."
    ". picture ."
    ". . .";
}   

.logoindex {
    grid-area: picture;
}

main > picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100%;
}

footer {
    display: flex;
    justify-content: center;
}

@media (max-width: 480px) {
    ul {
        padding-left: 0px;
    }

    main {
        grid-template-columns: auto;
    } 
}

@media (max-width: 990px){
}