body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  /* CSS - PAGE INDEX */
  /* CSS - PAGE MENU */
  /* CSS - PAGES SUCURSALES */
  /* CSS - PAGE NOSOTROS */ }
  body .videoindex {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
    -webkit-filter: grayscale(100%); }
  body .headerindex {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center; }
    body .headerindex .ulindex {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 10px;
      padding: 0; }
      body .headerindex .ulindex .liindex {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        color: #FFF;
        border: 1px solid white; }
        body .headerindex .ulindex .liindex a {
          color: white; }
      @media (max-width: 990px) {
        body .headerindex .ulindex .ulindex {
          gap: 0%; } }
    @media (max-width: 990px) {
      body .headerindex .headerindex {
        display: flex;
        justify-content: center; }
        body .headerindex .headerindex .navindex {
          width: 100%; } }
  body .mainindex {
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 800px 1fr;
    grid-template-areas: ". . ." ". picture ." ". . ."; }
    body .mainindex .logoindex {
      grid-area: picture; }
      body .mainindex .logoindex .mainindex > picture {
        display: flex;
        justify-content: center;
        align-items: center; }
        body .mainindex .logoindex .mainindex > picture .logo {
          max-width: 100%; }
    @media (max-width: 990px) {
      body .mainindex .mainindex {
        grid-template-columns: auto;
        width: 100%; } }
    @media (min-width: 480px) {
      body .mainindex .mainindex {
        grid-auto-columns: auto; } }
  body .footerindex {
    display: flex;
    justify-content: center; }
    @media (min-width: 480px) {
      body .footerindex .footerindex {
        width: 100%; } }
  body .header > ul {
    list-style: none;
    display: inline-flex;
    align-items: center; }
    body .header > ul .container-button {
      display: none; }
      body .header > ul .container-button * {
        box-sizing: border-box; }
        body .header > ul .container-button * .nav {
          background-color: #dbdbdb;
          height: 80px;
          color: #000; }
          body .header > ul .container-button * .nav .nav__container {
            display: flex;
            height: 100%;
            width: 90%;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center; }
            body .header > ul .container-button * .nav .nav__container .nav__logo {
              font-size: 1.5em;
              font-weight: 900; }
              body .header > ul .container-button * .nav .nav__container .nav__logo .nav__menu {
                display: grid;
                grid-auto-flow: column;
                gap: 3em; }
                body .header > ul .container-button * .nav .nav__container .nav__logo .nav__menu .nav__item {
                  color: #000;
                  text-decoration: none;
                  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%); }
                  body .header > ul .container-button * .nav .nav__container .nav__logo .nav__menu .nav__item .nav__item:after {
                    content: "";
                    display: block;
                    background: #000;
                    width: 90%;
                    margin-top: 3px;
                    height: 3px;
                    clip-path: var(--clippy);
                    transition: clip-path .5s; }
                    body .header > ul .container-button * .nav .nav__container .nav__logo .nav__menu .nav__item .nav__item:after .nav__item:hover {
                      --clippy: polygon(100% 0, 0 0, 0 100%, 100% 100%); }
                      body .header > ul .container-button * .nav .nav__container .nav__logo .nav__menu .nav__item .nav__item:after .nav__item:hover .nav__input:checked + .nav__menu {
                        background-color: #dbdbdb; }
                        body .header > ul .container-button * .nav .nav__container .nav__logo .nav__menu .nav__item .nav__item:after .nav__item:hover .nav__input:checked + .nav__menu .nav__label, body .header > ul .container-button * .nav .nav__container .nav__logo .nav__menu .nav__item .nav__item:after .nav__item:hover .nav__input:checked + .nav__menu .nav__input {
                          display: none; }
              @media (max-width: 990px) {
                body .header > ul .container-button * .nav .nav__container .nav__logo .nav__menu {
                  position: fixed;
                  top: 80px;
                  bottom: 0;
                  background-color: #dbdbdb;
                  width: 100%;
                  left: 0;
                  display: flex;
                  justify-content: space-evenly;
                  flex-direction: column;
                  align-items: center;
                  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                  transition: clip-path 1s ease-in-out; }
                  body .header > ul .container-button * .nav .nav__container .nav__logo .nav__menu .nav__input:checked + .nav__menu {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
            @media (max-width: 990px) {
              body .header > ul .container-button * .nav .nav__container .nav__label {
                display: block;
                cursor: pointer; } }
      @media (max-width: 990px) {
        body .header > ul .container-button .container-button {
          display: flex;
          justify-content: end;
          align-items: center;
          background-color: white; } }
  body .mainmenu > picture {
    display: flex;
    justify-content: center;
    height: 100px;
    max-height: 100px; }
  body .grid {
    width: 100%;
    max-width: 900px;
    margin: auto;
    margin-top: 3px;
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, 175px);
    grid-template-areas: 'cookies cookies' 'sandwich sandwich' 'bagel bagel' 'croissant croissant' 'donuts donuts'; }
    body .grid .grid > div {
      display: flex;
      align-items: stretch;
      justify-content: center;
      background-color: black; }
      body .grid .grid > div .grid a {
        color: white;
        font-size: 50px;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; }
        body .grid .grid > div .grid a .grid div:hover {
          opacity: 0.8; }
    @media (min-width: 480px) {
      body .grid .grid {
        grid-template-rows: repeat(4, 175px);
        grid-template-areas: 'cookies cookies' 'bagel sandwich' 'bagel croissant' 'donuts donuts'; } }
  body .grid1 {
    grid-area: cookies; }
    body .grid1 .grid1 a {
      background-image: url(../img/product/cookies.jpg); }
  body .grid2 {
    grid-area: bagel; }
    body .grid2 .grid2 a {
      background-image: url(../img/product/bagel.jpg); }
  body .grid3 {
    grid-area: croissant; }
    body .grid3 .grid3 a {
      background-image: url(../img/product/croissant.jpg); }
  body .grid4 {
    grid-area: sandwich; }
    body .grid4 .grid4 a {
      background-image: url(../img/product/sandwich.jpg); }
  body .grid5 {
    grid-area: donuts; }
    body .grid5 .grid5 a {
      background-image: url(../img/product/donuts.jpg); }
  body .footer {
    display: flex;
    background-color: #dbdbdb;
    justify-content: center;
    width: 100%; }
  body .headersucursales {
    display: flex;
    background-color: #dbdbdb;
    justify-content: space-between; }
    body .headersucursales .container-button {
      display: none; }
      body .headersucursales .container-button .navsucursales {
        display: flex; }
        body .headersucursales .container-button .navsucursales .ulsucursales {
          list-style: none;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 90px;
          margin-right: 20px; }
  body .bodysucursales {
    background-image: url(../img/background/fondobarra.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%; }
    body .bodysucursales .mainsucursales {
      display: grid;
      grid-template-areas: ". titulo ." "div1 div1 div1" "div2 div2 div2" "div3 div3 div3" "div4 div4 div4"; }
      body .bodysucursales .mainsucursales .mainsucursales > div {
        color: white; }
        body .bodysucursales .mainsucursales .mainsucursales > div .titulo {
          grid-area: titulo;
          display: flex;
          justify-content: center;
          align-items: center; }
          body .bodysucursales .mainsucursales .mainsucursales > div .titulo .titulo > img {
            width: 100%;
            max-width: 400px; }
            body .bodysucursales .mainsucursales .mainsucursales > div .titulo .titulo > img .div1 {
              grid-area: div1;
              background-color: rgba(0, 0, 0, 0.5);
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
              gap: 40px;
              margin-top: 5px; }
            body .bodysucursales .mainsucursales .mainsucursales > div .titulo .titulo > img .div2 {
              grid-area: div2;
              background-color: rgba(0, 0, 0, 0.5);
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row-reverse;
              gap: 40px;
              margin-top: 35px; }
            body .bodysucursales .mainsucursales .mainsucursales > div .titulo .titulo > img .div3 {
              grid-area: div3;
              background-color: rgba(0, 0, 0, 0.5);
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
              gap: 40px;
              margin-top: 35px; }
            body .bodysucursales .mainsucursales .mainsucursales > div .titulo .titulo > img .div4 {
              grid-area: div4;
              background-color: rgba(0, 0, 0, 0.5);
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row-reverse;
              gap: 40px;
              margin-top: 35px; }
        @media (max-width: 990px) {
          body .bodysucursales .mainsucursales .mainsucursales > div .mainsucursales {
            display: grid;
            grid-template-areas: 'titulo' 'div1' 'div2' 'div3' 'div4';
            justify-content: center; }
            body .bodysucursales .mainsucursales .mainsucursales > div .mainsucursales .mainsucursales > div {
              display: block; }
              body .bodysucursales .mainsucursales .mainsucursales > div .mainsucursales .mainsucursales > div .titulo > img {
                max-width: 300px; }
              body .bodysucursales .mainsucursales .mainsucursales > div .mainsucursales .mainsucursales > div .mainsucursales > div > h2 {
                display: flex;
                justify-content: center; }
                body .bodysucursales .mainsucursales .mainsucursales > div .mainsucursales .mainsucursales > div .mainsucursales > div > h2 .mainsucursales > div {
                  background-color: black; } }
  body .footersucursales {
    display: flex;
    background-color: #dbdbdb;
    justify-content: center;
    margin-top: 3px;
    width: 100%; }
  body .container-button {
    display: none; }
  body .bodynosotros {
    background-image: url(../img/background/fondomolienda.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: auto; }
    body .bodynosotros .mainnosotros {
      display: grid;
      grid-template-areas: "titulo . picture" "parrafo1 . picture" "parrafo2 . picture" "parrafo3 . picture"; }
      body .bodynosotros .mainnosotros .mainnosotros > p {
        color: white; }
      body .bodynosotros .mainnosotros .titulonosotros {
        grid-area: titulo;
        display: flex;
        justify-content: center;
        align-items: flex-start; }
        body .bodynosotros .mainnosotros .titulonosotros .titulonosotros > img {
          display: flex;
          width: 100%;
          max-width: 320px; }
        body .bodynosotros .mainnosotros .titulonosotros .parrafo1 {
          grid-area: parrafo1;
          display: flex;
          align-items: flex-start; }
        body .bodynosotros .mainnosotros .titulonosotros .parrafo2 {
          grid-area: parrafo2;
          display: flex;
          align-items: flex-start; }
        body .bodynosotros .mainnosotros .titulonosotros .parrafo3 {
          grid-area: parrafo3;
          display: flex;
          align-items: flex-start; }
        body .bodynosotros .mainnosotros .titulonosotros .slider {
          grid-area: picture; }
          body .bodynosotros .mainnosotros .titulonosotros .slider .slider {
            margin: auto;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.7); }
            body .bodynosotros .mainnosotros .titulonosotros .slider .slider .slider ul {
              display: flex;
              padding: 0;
              width: 400%;
              animation: cambio 20s infinite alternate;
              animation-timing-function: ease-in; }
              body .bodynosotros .mainnosotros .titulonosotros .slider .slider .slider ul .slider .lilinosotros {
                width: 100%;
                list-style: none; }
                body .bodynosotros .mainnosotros .titulonosotros .slider .slider .slider ul .slider .lilinosotros .slider img {
                  width: 100%;
                  max-width: 500px; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }
      @media (max-width: 990px) {
        body .bodynosotros .mainnosotros .mainnosotros {
          display: grid;
          grid-template-areas: "titulo" "parrafo1" "parrafo2" "parrafo3" "picture"; } }
  body .footernosotros {
    display: flex;
    background-color: #dbdbdb;
    justify-content: center;
    margin-top: 3px;
    width: 100%; }
