$color1: #fff;
$color2: #000;
$backgroundcolor1: rgba(0, 0, 0, 0.5);
$backgroundcolor2: rgb(219, 219, 219);

@mixin ubicacion {
    background-color: $backgroundcolor1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin parrafosNosotros {
    display: flex;
    align-items: flex-start;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-family: "Roboto", sans-serif;
    /* CSS - PAGE INDEX */
    .videoindex {
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;
        -webkit-filter: grayscale(100%);
    }

    .headerindex {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        .ulindex {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 10px;
            padding: 0;
            .liindex {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 40px;
                color: $color1;
                border: 1px solid $color1;
                a {
                    color: $color1;
                }
            }
            @media (max-width: 990px) {
                .ulindex {
                    gap: 0%;
                }
            }
        }
        @media (max-width: 990px) {
            .headerindex {
                display: flex;
                justify-content: center;
                .navindex {
                    width: 100%;
                }
            }
        }
    }

    .mainindex {
        display: grid;
        width: 100%;
        max-width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 800px 1fr;
        grid-template-areas:
            ". . ."
            ". picture ."
            ". . .";
        .logoindex {
            grid-area: picture;
            .mainindex > picture {
                display: flex;
                justify-content: center;
                align-items: center;
                animation: fadeIn;
                animation-duration: 2s;
                .logo {
                    max-width: 100%;
                }
            }
        }
        @media (max-width: 990px) {
            .mainindex {
                grid-template-columns: auto;
                width: 100%;
            }
        }
        @media (max-width: 480px) {
            .mainindex {
                grid-auto-columns: auto;
            }
        }
    }

    .footerindex {
        display: flex;
        justify-content: center;
        @media (max-width: 480px) {
            .footerindex {
                width: 100%;
            }
        }
    }
    /* CSS - PAGE MENU */
    .header > ul {
        list-style: none;
        display: inline-flex;
        align-items: center;
        .container-button {
            display: none;
            * {
                box-sizing: border-box;
                .nav {
                    background-color: $backgroundcolor2;
                    height: 80px;
                    color: $color2;
                    .nav__container {
                        display: flex;
                        height: 100%;
                        width: 90%;
                        margin: 0 auto;
                        justify-content: space-between;
                        align-items: center;
                        .nav__logo {
                            font-size: 1.5em;
                            font-weight: 900;
                            .nav__menu {
                                display: grid;
                                grid-auto-flow: column;
                                gap: 3em;
                                .nav__item {
                                    color: $color2;
                                    text-decoration: none;
                                    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
                                    .nav__item:after {
                                        content: "";
                                        display: block;
                                        background: $color2;
                                        width: 90%;
                                        margin-top: 3px;
                                        height: 3px;
                                        clip-path: var(--clippy);
                                        transition: clip-path 0.5s;
                                        .nav__item:hover {
                                            --clippy: polygon(100% 0, 0 0, 0 100%, 100% 100%);
                                            .nav__input:checked + .nav__menu {
                                                background-color: $backgroundcolor2;
                                                .nav__label,
                                                .nav__input {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            @media (max-width: 990px) {
                                .nav__menu {
                                    position: fixed;
                                    top: 80px;
                                    bottom: 0;
                                    background-color: $backgroundcolor2;
                                    width: 100%;
                                    left: 0;
                                    display: flex;
                                    justify-content: space-evenly;
                                    flex-direction: column;
                                    align-items: center;
                                    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                                    transition: clip-path 1s ease-in-out;
                                    .nav__input:checked + .nav__menu {
                                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                                    }
                                }
                            }
                        }
                        @media (max-width: 990px) {
                            .nav__label {
                                display: block;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            @media (max-width: 990px) {
                .container-button {
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    background-color: $color1;
                }
            }
        }
    }

    .mainmenu > picture {
        display: flex;
        justify-content: center;
        height: 100px;
        max-height: 100px;
    }

    .mainmenu > h1 {
        color: white;
        display: flex;
        justify-content: center;
    }

    .parent {
        display: grid;
        width: 100%;
        margin-top: 3px;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(8, 197px);
        grid-column-gap: 7px;
        grid-row-gap: 7px;
        div {
            display: flex;
            align-items: stretch;
            justify-content: center;
            background-color: black;
            height: 100%;   
            margin-bottom: 10px;
            max-width: 100%;
            a {
                color: white;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            span {
                font-size: 35px;
            }
            div:hover {
                opacity: 0.8;
            }
        }

        .div1menu {
            grid-area: 1 / 4 / 3 / 5;
            background-image: url(../img/product/1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div2menu {
            grid-area: 1 / 2 / 2 / 4;
            background-image: url(../img/product/2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div3menu {
            grid-area: 2 / 2 / 3 / 3;
            background-image: url(../img/product/3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div4menu {
            grid-area: 2 / 3 / 3 / 4;
            background-image: url(../img/product/4.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div5menu {
            grid-area: 3 / 3 / 5 / 4;
            background-image: url(../img/product/5.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div6menu {
            grid-area: 5 / 3 / 6 / 5;
            background-image: url(../img/product/6.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div7menu {
            grid-area: 4 / 4 / 5 / 5;
            background-image: url(../img/product/7.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div8menu {
            grid-area: 3 / 4 / 4 / 5;
            background-image: url(../img/product/8.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div9menu {
            grid-area: 4 / 2 / 6 / 3;
            background-image: url(../img/product/9.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div10menu {
            grid-area: 3 / 2 / 4 / 3;
            background-image: url(../img/product/14.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div11menu {
            grid-area: 6 / 2 / 7 / 3;
            background-image: url(../img/product/11.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div12menu {
            grid-area: 7 / 2 / 8 / 4;
            background-image: url(../img/product/12.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div13menu {
            grid-area: 7 / 4 / 9 / 5;
            background-image: url(../img/product/13.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div14menu {
            grid-area: 6 / 3 / 7 / 4;
            background-image: url(../img/product/10.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div15menu {
            grid-area: 6 / 4 / 7 / 5;
            background-image: url(../img/product/16.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div16menu {
            grid-area: 8 / 2 / 9 / 3;
            background-image: url(../img/product/15.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }
        
        .div17menu {
            grid-area: 8 / 3 / 9 / 4;
            background-image: url(../img/product/17.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            ;
        }

        @media (max-width: 480px) {
            .parent {
                display: block;
                a {
                    font-size: 3vh;
                }    
                div {
                    height: 27vh;
                    margin-bottom: 10px;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
    }

    .footer {
        display: flex;
        background-color: $backgroundcolor2;
        justify-content: center;
        width: 100%;
    }
    /* CSS - PAGES SUCURSALES */
    .headersucursales {
        display: flex;
        background-color: $backgroundcolor2;
        justify-content: space-between;
        .container-button {
            display: none;
            .navsucursales {
                display: flex;
                .ulsucursales {
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 90px;
                    margin-right: 20px;
                }
            }
        }
    }
    .bodysucursales {
        background-image: url(../img/background/fondobarra.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        .mainsucursales {
            display: grid;
            grid-template-areas:
                ". titulo ."
                ". h1 ."
                "div1 div1 div1"
                "div2 div2 div2"
                "div3 div3 div3"
                "div4 div4 div4";
            .mainsucursales > div {
                color: $color1;
                .titulo {
                    grid-area: titulo;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .titulo > img {
                        width: 100%;
                        max-width: 400px;
                        }
                .div1 {
                    grid-area: div1;
                    @include ubicacion;
                    flex-direction: row;
                    gap: 40px;
                    margin-top: 5px;
                }
                .div2 {
                    grid-area: div2;
                    @include ubicacion;
                    flex-direction: row-reverse;
                    gap: 40px;
                    margin-top: 35px;
                }
                .div3 {
                    grid-area: div3;
                    @include ubicacion;
                    flex-direction: row;
                    gap: 40px;
                    margin-top: 35px;
                }
                .div4 {
                    grid-area: div4;
                    @include ubicacion;
                    flex-direction: row-reverse;
                    gap: 40px;
                    margin-top: 35px;
                }
                }
                .h1sucursales{
                    grid-area: h1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                @media (max-width: 990px) {
                    .headersucursales {
                        display: flex;
                        background-color: rgb(219, 219, 219);
                        justify-content: space-between;
                    }
                    .mainsucursales {
                        display: grid;
                        grid-template-areas:
                            "titulo"
                            "div1"
                            "div2"
                            "div3"
                            "div4";
                        justify-content: center;
                        .mainsucursales > div {
                            display: block;
                            .titulo > img {
                                max-width: 300px;
                            }
                            .mainsucursales > div > h2 {
                                display: flex;
                                justify-content: center;
                                .mainsucursales > div {
                                    background-color: $color2;
                                }
                            }
                            .mainsucursales > div > p {
                                display: flex;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
    .footersucursales {
        display: flex;
        background-color: $backgroundcolor2;
        justify-content: center;
        margin-top: 3px;
        width: 100%;
    }
    /* CSS - PAGE NOSOTROS */
    .container-button {
        display: none;
    }

    .bodynosotros {
        background-image: url(../img/background/fondomolienda.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        margin: auto;
        .mainnosotros {
            display: grid;
            grid-template-areas:
                "titulo . picture"
                "h1 . picture"
                "parrafo1 . picture"
                "parrafo2 . picture"
                "parrafo3 . picture";
            .mainnosotros > p {
                color: $color1;
            }
            .h1nosotros {
                grid-area: h1;
                color: white;
                display: flex;
                justify-content: center;
                align-items: flex-start;
            }
            .titulonosotros {
                grid-area: titulo;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                .titulonosotros > img {
                    display: flex;
                    width: 100%;
                    max-width: 320px;
                }
                .parrafo1 {
                    grid-area: parrafo1;
                    @include parrafosNosotros;
                }
                .parrafo2 {
                    grid-area: parrafo2;
                    @include parrafosNosotros;
                }
                .parrafo3 {
                    grid-area: parrafo3;
                    @include parrafosNosotros;
                }
                .slider {
                    grid-area: picture;
                    .slider {
                        margin: auto;
                        overflow: hidden;
                        background-color: rgba(0, 0, 0, 0.7);
                        .slider ul {
                            display: flex;
                            padding: 0;
                            width: 400%;
                            animation: cambio 20s infinite alternate;
                            animation-timing-function: ease-in;
                            .slider .lilinosotros {
                                width: 100%;
                                list-style: none;
                                .slider img {
                                    width: 100%;
                                    max-width: 500px;
                                }
                            }
                        }
                    }
                    @keyframes cambio {
                        0% {
                            margin-left: 0;
                        }
                        20% {
                            margin-left: 0;
                        }
                        25% {
                            margin-left: -100%;
                        }
                        45% {
                            margin-left: -100%;
                        }
                        50% {
                            margin-left: -200%;
                        }
                        70% {
                            margin-left: -200%;
                        }
                        75% {
                            margin-left: -300%;
                        }
                        100% {
                            margin-left: -300%;
                        }
                    }
                }
            }
            @media (max-width: 990px) {
                .mainnosotros {
                    display: grid;
                    grid-template-areas: "titulo" "h1"  "parrafo1" "parrafo2" "parrafo3" "picture";
                }
            }
        }
    }
    .footernosotros {
        display: flex;
        background-color: $backgroundcolor2;
        justify-content: center;
        margin-top: 3px;
        width: 100%;
    }
}
